@import "../valo/valo";
@import "common";
@import "views/login";
@import "views/backstageview";
//@import "views/schedule";
//@import "views/sales";
//@import "views/transactions";
//@import "views/reports";

// Optimize the CSS output
//$v-included-components: remove($v-included-components, accordion);
//$v-included-components: remove($v-included-components, colorpicker);
//$v-included-components: remove($v-included-components, popupview);
//$v-included-components: remove($v-included-components, progressbar);
//$v-included-components: remove($v-included-components, slider);
//$v-included-components: remove($v-included-components, splitpanel);
//$v-included-components: remove($v-included-components, table);
//$v-included-components: remove($v-included-components, tree);
//$v-included-components: remove($v-included-components, treetable);
//$v-included-components: remove($v-included-components, twincolselect);

// Main layout padding
$view-padding: round($v-unit-size / 2) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;

@mixin backstage {
  @include valo;
  @include backstage-common;
  @include backstage-login-view;
  @include backstage-backstage-view;
  //@include backstage-schedule-view;
  //@include backstage-sales-view;
  //@include backstage-transactions-view;
  //@include backstage-reports-view;
}
